<html>
<head>

        <link rel="stylesheet" href="/stylesheets/style8.css" >
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="css/text">
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css.map" type="css/text">


</head>
<body>
<h1>ABOUT US</h1>



<div class="scrollarea">
<p>  Sadda College is  a website/ web app for the students of HMRITM
        through which they get information they need to know and is not provided by the
        official website of college .It  contains wide array of stuff like Faculty
        reviews; areas to visit ; unofficial societies ; detailed insight into ideal
        methodology for exam preparation and job hunting ; notes , important topics ,
        faculty expert ,books pdf , tutorial links of each subject of each and every branch
        ; tags given to students ; gallery ; HMR Times containing all the official and
        unofficial events going on in college ; integrated messaging service to interact with students throughout
        the college ; built in camera service to click selfies ; selfie contest is held on daily basis ; 
        gaming zone.<br>So, all in all objective is to build a platform ,for making our HMR WORLD
        shorter and closer, created and maintained by students for the students.      </p>

</div>







</body>











</html>