<html>
    
<body>
<header>

        <link rel="stylesheet" href="/stylesheets/style4.css" >
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css.map" type="css/text">

        <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">


</header>
<main>
<h1>

    AREAS TO VISIT
</h1>
<div id="leftchild">

<img src="/images/basu.png" style="float:right ; width:400px ; height:100% ">
<p id="heading">BASU CAFE </p>
<hr>
<p id="info">Basu Cafe situated just in front of our college is the oldest hangout
              place near our college. Having a wide array of chinese dishes it is one of the best 
              vellapanti addas in our college's vicinity. Chilly Potato and Chowmien being the best
              are must try outs at Basu. It also has a open sitting place at it's backyard.
              Though small in terms of area Basu provides quality service and Food.
              
</p>
</div>


 <div id="rightchild">

        <img src="/images/sadaaddda.jpg" style="float:right ; width:300px ; height:95% ;margin-right:5px;margin-top: 5px">
        <p id="heading">SADDA ADDA </p>
        <hr>
        <p id="info"> Sadda Adda being far more spacious than Basu has a much better ambience .Food is just 
                   satisfactory.As an add-on it has better seating facilities and hookah too.
                   Basic stationary items like practical files and photocopy facilities are also available at Sadda Adda.
                   All in all it is a compelete fun-filled place though one will find loads of smoke due to persistent usage 
                   of hookah and cigarettes.

                      
        </p>
        </div>

        <div id="leftchild" style="height:300px;">

                        <img src="/images/tai.jpg" style="float:right ;width:300px ; height:95% ;margin-right:5px;margin-top: 5px">
                        <p id="heading">TAI </p>
                        <hr>
                        <p id="info">It would be unfair to call Tai an eatery it is just a small low budget stall 
                                owned by an aged woman. Having basic variety of chips it is a wise choice for satisfying 
                                 small hunger. Tai's stall is located just in front of our college  on left hand side.
                                 Keeping in mind our college's location even tai has it's own significance among collge 
                                 students.
                        
                        </p>
                        </div>

                        <div id="rightchild">

        <img src="/images/gurukripa.png" style="float:right ; width:300px ; height:95% ;margin-right:5px;margin-top: 5px">
        <p id="heading">GURUKRIPA DHABA </p>
        <hr>
        <p id="info"> Guru Kripa Dhaba is a proper full fledged eatery .It is located on backside of the college .
                It is first prefrence of all when it comes to "Desi Khaana". It is a boon for students living in PG near 
                our college. Having roti sabzi daal on it's Menu it satisfies taste as well as hunger very nicely.
                It is a must try out for all college peeps.

                      
        </p>
        </div>

</main>




</body>


















</html>