<html>
<head>

        <link rel="stylesheet" href="/stylesheets/style9.css" >
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css.map" type="css/text">


</head>
<body>


        <h1>CONTACT US</h1>



        <div class="scrollarea">
        <p>  OUR TEAM<br>

        <ol>
       <li>MANSHA LAMBA</li>
       <P>  email-id: mansha.lamba@gmail.com</P>
       <li>ANKIT SINGH 
        
       </li>
       <P>email-id: ankits7dec@gmail.com </P>
       <li>KUMAR SHANU</li>
       <P>email-id: kumarshanu@gmail.com</P>



        </ol> 
            <span style=" margin-left: 350px">For Any Queries Feel Free to Drop a Mail .</span>   </p>
         
        </div>
        
        









</body>












</html>