<html>
        <body>
                <header>
                
                        <link rel="stylesheet" href="/stylesheets/style5.css" >
                        <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css.map" type="css/text">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css.map" type="css/text">

                
                
                </header>
                <main>
                <h1>
                
                    FACULTY REVIEW
                </h1>
                <h2>
                   CSE 
                   <hr>
                         
                  </h2>
        
                <div id="leftchild">

                        <img src="/images/ravindersir.png" style="float:right ; width:300px ; height:95%;margin-right:5px;margin-top: 5px ">
                        <p id="heading"> RAVINDER SIR </p>
                        <hr>
                        <p id="info"> DEPT: CSE
                            <br>
                            Being a freindly teacher he is always there to help his students.
                            Cool and calm personality makes him more special and unique.He has 
                            a very good knowledge in  the field of Machine Learning.

                             

                                      
                        </p>
                        </div>
                        <div id="rightchild">

                                <img src="/images/mohdsir.png "style="float:right ; width:300px ; height:95% ;margin-right:5px;margin-top: 5px">
                                <p id="heading">MOHD IZHAR </p>
                                <hr>
                                <p id="info"> DEPT: CSE
                                                <br>
                                        He has a very robust personality and always tries his best to assist his students.
                                        Being one of the most experienced faculty members of HMRITM he has made many contributions 
                                        to create an  educative environment in our college.
                        
                                              
                                </p>
                                </div>

                        <div id="leftchild">

                        <img src="/images/beniwalsir.png" style="float:right ; width:300px ; height:95%;margin-right:5px;margin-top: 5px ">
                        <p id="heading"> BENIWAL SIR </p>
                        <hr>
                        <p id="info"> DEPT: CSE
                            <br>
                            He is one of the most efficeint and down to earth personalities of HMRITM.
                            He has a very updated knowledge of his domain .
                            He is always takes step forward to manage co-curricular stuff in our college.
                            </p>
                        </div>
                        <div id="rightchild">

                                        <img src="/images/hiteshsir.png" style="float:right ; width:300px ; height:95% ;margin-right:5px;margin-top: 5px">
                                        <p id="heading">HITESH SIR </p>
                                        <hr>
                                        <p id="info"> DEPT: CSE
                                                        <br>
                                        He is  very freindly and outgoing with his students.
                                        Being a very knowledgeable person he tries his best to help his students grasp difficult 
                                        concepts easily. 

                                               
                                
                                                      
                                        </p>
                                        </div>
                                        <h2 style="margin-top: 2000px"> 
                                                        ECE
                                                        <hr>
                                                              
                                                       </h2>    
                                                       <div id="leftchild">

                                                        
                                                                <p id="heading"> RAJESH SIR </p>
                                                                <hr>
                                                                <p id="info"> DEPT: ECE
                                                                    <br>
                                                                  Apart from technical discussions he takes a lot of initiative in teaching moral values
                                                                  to his students.Being very humble he is the tallest faculty member of our college.
                                                                    </p>
                                                                </div>
                                                                <div id="rightchild">

                                                                                
                                                                                <p id="heading">KULDEEP SIR </p>
                                                                                <hr>
                                                                                <p id="info"> DEPT: ECE
                                                                                                <br>
                                                                                        He keeps updating his knowledge in order to keep his students at par with fast growing industry.
                                                                                        He has a dynamic personality and is very good at handling co co-curricular activities
                                                                                        of our college. 
                                                                                              
                                                                                </p>
                                                                                </div>  
                                                                                <h2 style="margin-top:1000px"> 
                                                                                                EEE
                                                                                                <hr>
                                                                                                      
                                                                                               </h2>
                                                                                               <div id="leftchild">

                                                        
                                                                                                        <p id="heading"> Dr. AnuradhaTomar </p>
                                                                                                        <hr>
                                                                                                        <p id="info"> DEPT: EEE
                                                                                                            <br>
                                                                                                            She is one of the most dynamic personalities of our college.
                                                                                                            Being an ALL ROUNDER She has  lifted the standards of R&D wing of our college.
                                                                                                            She always makes herself available to assist her students.

                                                                                                            </p>
                                                                                                        </div>                      
                                                                                                        <div id="rightchild">

                                                                                
                                                                                                                        <p id="heading">Mr. C J Singh</p>
                                                                                                                        <hr>
                                                                                                                        <p id="info"> DEPT: EEE
                                                                                                                                        <br>
                                                                                                                                Being very passionate about his subject he always gives his cent percent 
                                                                                                                                towards his profession.
                                                                                                                                He has a very strong conceptual base of his subjects.
                                                                                                                
                                                                                                                                      
                                                                                                                        </p>
                                                                                                                        </div> 
                                                                                                                        <div id="leftchild">

                                                        
                                                                                                                                        <p id="heading"> Mr. Devvrat </p>
                                                                                                                                        <hr>
                                                                                                                                        <p id="info"> DEPT: EEE
                                                                                                                                            <br>
                                                                                                                                            He has a very updated knowledge of his domain .
                                                                                                                                            He is very humble and kind towards his students but 
                                                                                                                                            demands strict discipline in his lectures.
                                                                                                                                            </p>
                                                                                                                                        </div>   
                                                                                                                                        <div id="rightchild">

                                                                                
                                                                                                                                                        <p id="heading">Mr. Vikas Malik</p>
                                                                                                                                                        <hr>
                                                                                                                                                        <p id="info"> DEPT: EEE
                                                                                                                                                                        <br>
                                                                                                                                                                
                                                                                                                                                                        He is very unbiased towards each and every student of his class.
                                                                                                                                                                        He is  very freindly and outgoing with his students.           
                                                                                                                                                        </p>
                                                                                                                                                        </div> 
                                                                                                                                                        <h2 style="margin-top:1900px"> 
                                                                                                                                                                        IT
                                                                                                                                                                        <hr>
                                                                                                                                                                              
                                                                                                                                                                       </h2>
                                                                                                                                                                       <div id="leftchild">

                                                                                                                                                                                <img src="/images/anilsir.png" style="float:right ; width:300px ; height:95%;margin-right:5px;margin-top: 5px ">
                                                                                                                                                                                <p id="heading"> ANIL SIR </p>
                                                                                                                                                                                <hr>
                                                                                                                                                                                <p id="info"> DEPT: IT
                                                                                                                                                                                    <br>
                                                                                                                                                                                    
                                                                                                                                                                                    
                                                                                                                                                                                    
                                                                                                                                                                                  He has a really very detailed knowledge of his subjects .
                                                                                                                                                                                  He always encourages his students to think out of the box and to explore upcoming 
                                                                                                                                                                                  inventions and discoveries in the field of computer science. 
                                                                                                                                                                                He has quite a lot experience in industry too and so he is an excellent career guide.
                                                                                                                                                                                He always look for innovative responses from his students.
                                                                                                                                                        
                                                                                                                                                                                     
                                                                                                                                                        
                                                                                                                                                                                              
                                                                                                                                                                                </p>
                                                                                                                                                                                </div>  
                                                                                                                                                                                <div id="rightchild">

                                                                                                                                                                                                <img src="/images/shafiqsir.png" style="float:right ; width:300px ; height:95% ;margin-right:5px;margin-top: 5px">
                                                                                                                                                                                                <p id="heading">SHAFIQ SIR </p>
                                                                                                                                                                                                <hr>
                                                                                                                                                                                                <p id="info"> DEPT: IT
                                                                                                                                                                                                                <br>
                                                                                                                                                                                                        He believes in providing project based learning to his students.
                                                                                                                                                                                                        He is  very freindly and outgoing with his students.  
                                                                                                                                                                                                        He is very disciplined and has a very cool calm & quite personality.

                                                                                                                                                                                        
                                                                                                                                                                                                              
                                                                                                                                                                                                </p>
                                                                                                                                                                                                </div> 
                                                                                                                                                                                                <div id="leftchild">

                                                                                                                                                                                                                
                                                                                                                                                                                                                <p id="heading"> LISHA MAM </p>
                                                                                                                                                                                                                <hr>
                                                                                                                                                                                                                <p id="info"> DEPT: IT
                                                                                                                                                                                                                    <br>
                                                                                                                                                                                                                    She is one of the most experienced teachers of our college.
                                                                                                                                                                                                                    She gives in her best efforts to provide quality education 
                                                                                                                                                                                                                    to her students.
                                                                                                                                                                                        
                                                                                                                                                                                                                     
                                                                                                                                                                                        
                                                                                                                                                                                                                              
                                                                                                                                                                                                                </p>
                                                                                                                                                                                                                </div>                                                                         
                                                                                                                                                                                                                <h2 style="margin-top:1500px"> 
                                                                                                                                                                                                                                MAE
                                                                                                                                                                                                                                <hr>
                                                                                                                                                                                                                                      
                                                                                                                                                                                                                               </h2>
                                                                                                                                                                                                                               <div id="rightchild">

                                                                                                                                                                                                                                        <img src="/images/mohansir.png" style="float:right ; width:300px ; height:95% ;margin-right:5px;margin-top: 5px">
                                                                                                                                                                                                                                        <p id="heading">MOHAN SIR </p>
                                                                                                                                                                                                                                        <hr>
                                                                                                                                                                                                                                        <p id="info"> DEPT: MAE
                                                                                                                                                                                                                                                        <br>
                                                                                                                                                                                                                                                He is very good at solving numerical mechanics.
                                                                                                                                                                                                                                                He has a very helping attitude towards his students and fellow faculty members.
                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                      
                                                                                                                                                                                                                                        </p>
                                                                                                                                                                                                                                        </div> 
                                                                                                                                                                                                                                        <div id="leftchild">

                                                                                                                                                                                                                                                        <img src="/images/umamam.png" style="float:right ; width:300px ; height:95%;margin-right:5px;margin-top: 5px ">
                                                                                                                                                                                                                                                        <p id="heading"> UMA MAM </p>
                                                                                                                                                                                                                                                        <hr>
                                                                                                                                                                                                                                                        <p id="info"> DEPT: MAE
                                                                                                                                                                                                                                                            <br>
                                                                                                                                                                                                                                                           She is a very patient teacher and strives for perfection .
                                                                                                                                                                                                                                                           Her lectures are very interactive and well planned.
                                                                                                                                                                                                                                                            </p>
                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                        <div id="rightchild">

                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                        <p id="heading">RAJEEV RANJAN SIR </p>
                                                                                                                                                                                                                                                                        <hr>
                                                                                                                                                                                                                                                                        <p id="info"> DEPT: MAE
                                                                                                                                                                                                                                                                                        <br>
                                                                                                                                                                                                                                                                                Irrespective of his busy schedule he always makes himself available for his students.
                                                                                                                                                                                                                                                                                He has a strcit and stern personality.
                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                      
                                                                                                                                                                                                                                                                        </p>
                                                                                                                                                                                                                                                                        </div> 
                                                                                                                                                                                                                                                                        <h2 style="margin-top:1400px"> 
                                                                                                                                                                                                                                                                                        APPLIED SCEINCE
                                                                                                                                                                                                                                                                                        <hr>
                                                                                                                                                                                                                                                                                              
                                                                                                                                                                                                                                                                                       </h2>
                                                                                                                                                                                                                                                                                       <div id="leftchild">

                                                                                                                                                                                                                                                                                                <img src="/images/pandamam.png" style="float:right ; width:300px ; height:95%;margin-right:5px;margin-top: 5px ">
                                                                                                                                                                                                                                                                                                <p id="heading"> PANDA MAM </p>
                                                                                                                                                                                                                                                                                                <hr>
                                                                                                                                                                                                                                                                                                <p id="info"> DEPT: APPLIED SCEINCE
                                                                                                                                                                                                                                                                                                    <br>
                                                                                                                                                                                                                                                                                                She is one of the Best teachers of our college.
                                                                                                                                                                                                                                                                                                She is a perfectionist and performs all her duities with utmost dedication.
                                                                                                                                                                                                                                                                                                Her lectures are very detailed and informative .
                                                                                                                                                                                                                                                                                                She plans her lectures in such a way that even least scorers are able to grasp basic concepts.

                                                                                                                                                                                                                                                                                                    </p>
                                                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                                                <div id="rightchild">

                                                                                                                                                                                                                                                                                                                <img src="/images/pallavimam.png" style="float:right ; width:300px ; height:95%;margin-right:5px;margin-top: 5px ">
                                                                                                                                                                                                                                                                                                                <p id="heading">PALLAVI MAM </p>
                                                                                                                                                                                                                                                                                                                <hr>
                                                                                                                                                                                                                                                                                                                <p id="info"> DEPT: APPLIED SCEINCE
                                                                                                                                                                                                                                                                                                                                <br>
                                                                                                                                                                                                                                                                                                                                She is very unbiased towards each and every student of his class.  
                                                                                                                                                                                                                                                                                                                                She is very hardworking and strives to give her best.   
                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                              
                                                                                                                                                                                                                                                                                                                </p>
                                                                                                                                                                                                                                                                                                                </div> 
                                                                                                                                                                                                                                                                                                                <div id="leftchild">

                                                                                                                                                                                                                                                                                                                                <img src="/images/tarunamam.png" style="float:right ; width:300px ; height:95%;margin-right:5px;margin-top: 5px ">
                                                                                                                                                                                                                                                                                                                                <p id="heading"> TARUNA MAM </p>
                                                                                                                                                                                                                                                                                                                                <hr>
                                                                                                                                                                                                                                                                                                                                <p id="info"> DEPT: APPLIED SCEINCE
                                                                                                                                                                                                                                                                                                                                    <br>
                                                                                                                                                                                                                                                                                                                                    She is very polite and recognizes her student's efforts.
                                                                                                                                                                                                                                                                                                                                    She believes in creating healthy competitive environment in her lectures.
                                                                                                                                                                                                                                                                                                                                    She likes to have disciplined and interactive atmosphere in her classes.
                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                    </p>
                                                                                                                                                                                                                                                                                                                                </div>
                </main>
</body>
</html>