<!DOCTYPE html>
<html>
<head>
	<title></title>
   <link rel="stylesheet" href="/stylesheets/MEstyle.css" >
 <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="css/text">
<!--nlink rel="stylesheet" href="/stylesheets/bootstrap-grid.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-grid.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css.map" type="css/text"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <div id="c">
      <img src="/images/mae.jpg" style="width: 100%;height: 100%">
    </div> 
   <!-- div id="one">
		<p style="text-align: center;font-family: cursive; font-size: 40px;">The question of whether a computer can think is no more interesting than the question of whether a submarine can swim. </p>  
	</div> -->
<hr>
<div id="a">
	<h1 style="text-align: center; padding-top:15px"> MAE-1st Year</h1>
</div>
<section id="aa">
<div class="container">
<button class="collapsible">Faculty Expert</button>
<div class="content">
  <table>
  <tr>
    <th>Subject</th>
    <th>Expert</th>
    <th>Department</th>
  </tr>
  <tr>
    <td>Engineering Maths</td>
    <td>Ms.Parul Chauhan</td>
    <td>Applied Science</td>
  </tr><br>
  <tr>
    <td>Applied physics</td>
    <td>Ms. Padmaja Panda</td>
    <td>Applied Science</td>
  </tr><br>
  <tr>
    <td>Manufacturing Process</td>
    <td>Ms. Damyanti</td>
    <td>MAE</td>
  </tr>
  <tr>
    <td>Electrical Technology</td>
    <td>Ms. Ritu</td>
    <td>EEE</td>
  </tr>
  <tr>
    <td>HVPE</td>
    <td>Ms. Kirti</td>
    <td>Applied Science</td>
  </tr>
  <tr>
    <td>FOC</td>
    <td>Mr.Vinay</td>
    <td>CSE</td>
  </tr>
  <tr>
    <td>Applied Chemistry</td>
    <td>Ms. Teena</td>
    <td>Applied Science</td>
  </tr>
</table>
</div>




<button class="collapsible">Books</button>
<div class="content">
<div class="container">
  <div class="row">
    <div class="col-xs-3 two col-sm-3 ">
      <h1>Applied Maths</h1>
      <div id="b4">
        <img src='/images/mathsb.jpg' style='width:100%' />
      </div>
    </div>
  
     <div class="col-xs-3 two col-sm-3">
      <h1>Applied Physics</h1>
      <div id="b4">
        <img src='/images/phy.jpg' style='width:100%' />
      </div>
    </div>
    
     <div class="col-xs-3 two col-sm-3">
      <h1>Applied Chemistry</h1>
      <div id="b4">
        <img src='/images/chem.jpg' style='width:100%' />
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-xs-3 col-md-3 two col-sm-3 ">
      <h1>Manufacturing Process</h1>
      <div id="b4">
        <img src='/images/mp.jpg' style='width:100%' />
      </div>
    </div>
  
     <div class="col-xs-3 two col-sm-3">
      <h1>FOC</h1>
      <div id="b4">
        <img src='/images/foc.jpg' style='width:100%' />
      </div>
    </div>
    
     <div class="col-xs-3 two col-sm-3">
      <h1>HVPE</h1>
      <div id="b4">
        <img src='/images/hvpe.jpg' style='width:100%' />
      </div>
    </div>

  
  </div>


</div>




</div>

</section>
<h1 class="c1">Last Minute Study </h1>
<p style="font-family:arial;font-size: 35px;text-align: center;">Study these topics thoroughly to score good marks just before the day of exam<p>
  <div class="container">
  <div class="row">
    <div class="col-xs-3 three col-sm-3 ">
      <h1>Applied Maths</h1>
      <ul>
            <li style="color: #825e5c;font-size: 20px;">Successive Differentiation</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Radius of curvature</li><br>
            <li style="color: #825e5c;font-size: 20px;>Definite Integrals </li> <br>
            <li style="color: #825e5c;font-size: 20px;>Differential Equations</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Radius of curvature</li><br>


          </ul>
     
    </div>
    <div class="col-xs-3 three col-sm-3 ">
      <h1>Applied Physics</h1>
          <ul>
            <li style="color: #825e5c;font-size: 20px;">Polerisation</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Diffraction</li><br>
            <li style="color: #825e5c;font-size: 20px;>Lens </li> <br>
            <li style="color: #825e5c;font-size: 20px;>Magnetic Feild Theory</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Electric Feild Theory</li><br>


          </ul>
    </div>
    <div class="col-xs-3 three col-sm-3 ">
      <h1>Chemistry</h1>
      <ul>
            <li style="color: #825e5c;font-size: 20px;">Water</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Fuels</li><br>
            <li style="color: #825e5c;font-size: 20px;>Environmental pollution</li> <br>
            <li style="color: #825e5c;font-size: 20px;></li>Corrosion<br>
            <li style="color: #825e5c;font-size: 20px;"">Solutions</li><br>


          </ul>
     
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-3 three col-sm-3 ">
      <h1>FOc</h1>
      <ul>
            <li style="color: #825e5c;font-size: 20px;">Input Devices</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Dismantling of Pc</li><br>
            <li style="color: #825e5c;font-size: 20px;>Output devices</li> <br>
            <li style="color: #825e5c;font-size: 20px;>CPU</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Algoriths and Flowcharts</li><br>


          </ul>
     
    </div>
    <div class="col-xs-3 three col-sm-3 ">
      <h1>Electrical Technology</h1>
          <ul>
            <li style="color: #825e5c;font-size: 20px;">Kcl and kvl</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Meters</li><br>
            <li style="color: #825e5c;font-size: 20px;>Electric Instruments</li> <br>
            <li style="color: #825e5c;font-size: 20px;>Magnetic Feild Theory</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Electric Feild Theory</li><br>


          </ul>
    </div>
    <div class="col-xs-3 three col-sm-3 ">
      <h1>HVPE</h1>
       <ul>
            <li style="color: #825e5c;font-size: 20px;">Kcl and kvl</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Meters</li><br>
            <li style="color: #825e5c;font-size: 20px;>Electric Instruments</li> <br>
            <li style="color: #825e5c;font-size: 20px;>Magnetic Feild Theory</li><br>
            <li style="color: #825e5c;font-size: 20px;"">Electric Feild Theory</li><br>


          </ul>
     
    </div>
  </div>  
 </div> 

<h1 class="c1">NOTES</h1>
<p style="font-family:arial;font-size: 35px;text-align: center;">Refer these links to get Notes of the various subjects<p>
  <ul>
<li><h2 class="c2">Applied Physics</h2><l1><br><br><br><br><br>
  <ul>
      <li><a href="https://passhojao.com/notes/nuclear-physics-notes-for-1st-semester">Click here to get Applied physics notes</a></li>

      <li><a href="">Click here to get Applied physics Akash Pdf and Question Papers</a></li>

      <li><a href="https://www.youtube.com/watch?v=Q6Gw08pwhws&list=PLGj9lfgFsT5c4mBulXGP2LFoAPcCW0r9H">Click here to get Applied physics youtube lecture videos</a></li>

  </ul>
  <li><h2 class="c2">Applied Mathematics</h2><l1><br><br><br><br><br>
    <ul>
       <li><a href="https://pdfentity.co/downloads/engineering_mathematics_by_v_p_mishra.pdf">Click here for get Applied physics notes</a></li>

      <li><a href="https://noteshub.co.in/questionPapers.php?subject=Applied+Mathematics">Click here for get Applied Mathematics Akash Pdf and Question Papers</a></li>

      <li><a href="https://www.youtube.com/watch?v=U58LykHWj3A&list=PLdM-WZokR4tbRrCD01O9GsFKEJjt3SpPS">Click here to get Applied Mathematics  youtube lecture Videos</a></li>
  </ul>

</ul>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
</script>
</body>
</html>