<!DOCTYPE html>
<html>
<head>
  
  <title>
    
  </title>
  <link rel="stylesheet" href="/stylesheets/s.css" >
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-grid.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-grid.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-reboot.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap.css.map" type="css/text">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css.map" type="css/text">
</head>
<body style="background-color: #606b63">
<h1 id="one">Clubs and Societies</h1>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/pgi">The Pragmatic Indian Society</a>
  <a href="/dance">Reverso</a>
  <a href="/drama">Awaaz</a>
  <a href="/proximus">The Proximus Coding Society</a>
  <a href="#">Eco Club</a>
  <a href="#">The Photography Club</a>

</div>

<div id="main">
 
  <span style="font-size:30px;cursor:pointer background-color:white" onclick="openNav()">&#9776; open</span>
</div>

<!-- MAIN (Center website) -->
<div class="main">

<h1>STUDENT SOCIETIES</h1>
<p>The College provides an ALL ROUND FORMATION which aims at developing students physical, intellectual, emotional and mental health.  Students are challenged to pursue an education that combines excellence in humanistic and cultural development. Various departments organise seminars and talks by eminent speakers on subjects of academic interest from time to time, to take the students beyond class-room teaching. Facilities are provided for indoor and outdoor games.<br><br>The College takes the task of educating young women and training them in responsibility and accountability, to take their positions in a competitive world. Students are encouraged to participate in activities beyond their academic curricula so they become confident and well balanced persons.<br>There are several student societies that cater to a range of interests.<br><br>More about each Society and its activities may be seen by clicking the links to the right.</p>
<hr>

<h2>Societies</h2>
<p>Join these platforms to showcase and furtherance your talents.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="/images/avaz.jpg" alt="DRAMA" style="width:100%">
      <h3>Awaaz</h3>
      <p>Awaaz-The Dramatics Society </p>
    </div>
  </div>
  
  <div class="column">
    <div class="content">
    <img src="/images/rev.jpg" alt="Mountains" style="width:100%">
      <h3>Reverso</h3>
      <p>The College's official Dance Society</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/images/pcs.jpg" alt="Nature" style="width:100%">
      <h3>Proximus Coding Society</h3>
      <p>The Platform through you can enhance you coding.</p>
    </div>
  </div>
   <div class="column">
    <div class="content">
    <img src="/images/pis.jpg" alt="Lights" style="width:100%">
      <h3>The Prgmatic Indian Society</h3>
      <p>The college's official society for cultural events.</p>
    </div>
  </div>
  
<!-- END GRID -->
</div>
<hr>
<h2>CLUBS<h2>

<div class="content">
   <h5>The Photography Club</h5>
  <p>The college's official Photography Club</p>
  <img src="/images/cam.jpg" alt="Bear" style="width:100%">
</div><br>
<div class="content">
  <h5>The Eco Club</h5>
  <p>The College's eco club</p>
  <img src="/images/eclub.jpg" alt="Bear" style="width:100%">
</div>

<!-- END MAIN -->
</div>




</body>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>



</body>
</html>