.parallax {
    /* The image used */
    background-image: url("/images/dance.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}
#one{
	    background-color: #ffc80b;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-right: 30px;
    padding-bottom: 90px;
    padding-left: 30px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #eae9e9;
    border-top-style: solid;
    border-bottom-style: solid;
}


#a1{

text-align: center;
    font-size: 40px;
    line-height: 24.162px;
}

#a2{
   font-size: 60px;
   float: right;
   color: #ff4444;
   margin-top:30px;
   margin-right:40px;
}
#a3{
	font-size: 30px;
 float: right;
 margin-right: 50px;
 color: #ff4444;

}
#a4{
	color:yellow;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
	font-size: 60px;
}
#a5{
	color: yellow;
	float: left;
	font-size: 30px;
	margin-left: 50px;

}

#two{
	width: 30%;
	min-height: 150px;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}
#a6{
	font-size: 40px;
	color:#010a4b;
}
#a7{
	font-size: 25px;
	font-family: cursive;
	color:#2abbec; 
}

#b{
	width: 30%;
	background-color: red;
	height: 200px;
	margin-top: 900px;
}




.column {
	margin-left: 25px;
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
  height: 50px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}






























