#textanime .ml4 {
     position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
   #textanime .ml4 .letters {
    text-shadow: 15px 15px 20px white;
      position: absolute; 
     margin: auto; 
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }


  body{
         color:white;
         text-align: center;
         background-color: black;
         border: solid white 20px;

  }

  #heading{

    font-family: 'Gaegu', cursive;
    font-size: 80px;
    font-weight: bold;
text-transform: capitalize;

padding-top: 220px;

  }
  .tooltip {
    position:relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    height: 40px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}